

.block{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30vw;
width: 100vw;
gap: 5vw;
background-color: rgb(38, 48, 225);
}

#finish{
    color: rgb(0, 255, 247);
    font-size: x-large;
}
#clicker{
    background-color: rgb(151, 250, 64);
    border-radius: 10%;
    border: 0px;
    height: 16vw;
    width: 30vw;
    font-size: x-large;
}

#block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 100vw;
    gap: 5vw;
    background-color: rgb(240, 58, 225);
    }


.p2{
    color: aliceblue;
    font-size: x-large;
}

#resettime {
    background-color: rgb(64, 250, 176);
    border-radius: 10%;
    border: 0px;
    height: 10vw;
    width: 30vh;
    font-size: x-large;
}

#block3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 100vw;
    gap: 5vw;
    background-color: rgb(247, 179, 255);
    }

    #btnstart, #btnstop, #btnreset {
        background-color: rgb(255, 255, 255);
        border-radius: 5%;
        border: 0px;
        height: 10vh;
        width: 30vh;
        font-size: x-large;
    }